### Fundamentos de python
* variables
* operadores matematicos basicos
* operadores de comparacion
* operadores booleanos
* condicionales simples
* condicionales completos
* condicionales anidados
* condicionales encadenados
* estructuras de datos
    - cadenas de caracteres
    - enteros
    - flotantes
    - listas
    - tuplas
    - diccionarios
* estructuras de control
    - ciclos finitos
    - ciclos infinitos
    - funciones
* fundamentos de programacion orientada a objetos

In [ ]:
name= "antonella"

In [3]:
last_name= "farias"

In [5]:
# ejemplo de lo que no se puede hacer
Name = "Antonella"
Last_name = "Farias"

In [6]:
last_name

'farias'

#### Operadores matematicos

In [10]:
#suma
number1 = 10
number2 = 20

result = number1 + number2
print(result)

30

In [12]:
number3 = 12.88
number4 = 2.5

resultado_suma2 = number3 + number4
print(resultado_suma2)

15.38

In [15]:
#resta
number5 = 20
number6 = 12.55
resultado_resta = number5 - number6
print (resultado_resta)

7.449999999999999

In [14]:
print(f" el resultado de suma es: {resultado_suma2}")

 el resultado de suma es: 15.38

In [19]:
# multiplicacion
resultado_multiplicacion = number1 * number2 
print (f"el resultado de la multiplicacion es: {resultado_multiplicacion}")

el resultado de la multiplicacion es: 200

In [21]:
#division
resultado_div = number1 / number2
print (f"el resultado de la div es: {resultado_div}")

el resultado de la div es: 0.5

#### Operadores de comparacion

In [23]:
# mayor que >
# menor que <
# mayor o igual que >=
# menor o igual que <=
# igual que ==
# diferente que !=
#ejemplos de comparacion: 3>2

### operadores booleanos
* true o false

In [24]:
resultado_div >= resultado_multiplicacion

False

In [25]:
"pedro" == "pedro"

True

### condicionales

In [ ]:
# condicionale simple
# if condition: 
#       intrucciones

if resultado_div <= resultado_multiplicacion:
    print ("la division es menor que la multilplicacion")

la division es menor que la multilplicacion

In [29]:
#condicional compuesta
#  if condition: 
#       intrucciones
# else:
#       intrucciones

if resultado_div >= resultado_multiplicacion:
    print ("la division es menor que la multilplicacion")
else:
    print ("la division es mayor que la multilplicacion")

la division es mayor que la multilplicacion

####condicionales anidados

In [ ]:
# ladies night
name_dama = input ("ingrese su nombre:")
genero = input ("ingrese su genero:")
edad = int(input ("ingrese su edad:"))
# edad = int(edad)
day = "jueves"

if day == "jueves":
    if edad >= 18:
        if genero == "femenino":
            print ("es ladies night welcome")

In [ ]:
# ladies night
name_dama = input ("ingrese su nombre:")
genero = input ("ingrese su genero:")
edad = int(input ("ingrese su edad:"))
# edad = int(edad)
day = "jueves"

if day == "jueves":
    if edad >= 18:
        if genero == "femenino":
            print ("puede entrar gratis")
        else:
            print ("no puede entrar gratis")
    else:
        print ("no tiene la edad sufuciente") 
else:
    print ("no es jueves")

In [41]:
# condicionales encadenados
if day == "jueves":
    print ("es jueves")
elif day == "viernes":
    print ("es viernes")
elif day == "sabado":
    print ("es sabado")
elif day == "domingo":
    print ("es domingo")
else:
    print("no es jueves, viernes, sabado o domingo")

es jueves

### operadores logicos 
* and
* or
* not

In [5]:
#and
if (day =="jueves") and (genero == "femenino"):
    print ("puede entrar gratis")

NameError: name 'day' is not defined

In [ ]:
#or
if (day =="jueves") or (genero == "femenino"):
    print ("puede entrar gratis")

puede entrar gratis

In [ ]:
# Solicitar las elecciones de los dos jugadores
print("Opciones: Piedra, Papel, Tijera")
jugador1 = input("Jugador 1, elige tu opción: ").lower()
jugador2 = input("Jugador 2, elige tu opción: ").lower()

# Validar las entradas
opciones_validas = ["piedra", "papel", "tijera"]
if not (jugador1 in opciones_validas and jugador2 in opciones_validas):
    print("Ambos jugadores deben elegir entre 'Piedra', 'Papel' o 'Tijera'.")
else:
    # Determinar el ganador
    if jugador1 == jugador2:
        print("Es un empate.")
    elif (jugador1 == "piedra" and jugador2 == "tijera") or \
         (jugador1 == "papel" and jugador2 == "piedra") or \
         (jugador1 == "tijera" and jugador2 == "papel"):
        print("Jugador 1 gana.")
    else:
        print("Jugador 2 gana.")

Opciones: Piedra, Papel, Tijera
Jugador 2 gana.

### Tipos de datos en python

In [22]:

name = "Antonella"

In [ ]:
#pone la primera letra en mayuscula
name.capitalize()

'Antonella'

In [ ]:
#cuenta las letras a
name.count("a")

1

In [10]:
#para ver que hay en un indice de una cadena
name[0] #la primera letra
name[1] #la segunda letra

'n'

#### listas

In [19]:
#lista de cadenas
name_list = ["antonella", "maria","jose"]

In [12]:
#lista de enteros
lista_enteros = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
#lista de flotantes
lista_flotantes = [1.2,3.4,5.6,7.8]

In [21]:
#lista mixta
lista_mixta = ["antonella", 1, 2.5, True]

In [23]:
len (name)

9

In [24]:
#agregar un elemento a la lista
name_list.append("antonio")

In [25]:
name_list

['antonella', 'maria', 'jose', 'antonio']

In [26]:
name_list[-1] #ultimo elemento de la lista

'antonio'

In [29]:
#para modificra la lista original, hay metodos que no modifican la lista original
#modificar la lista original
name =name.capitalize()
name

'Antonella'

In [30]:
#la lista es mutable 
name_list[0]

'antonella'

In [31]:
name_list[0] = 'antonio'
name_list

['antonio', 'maria', 'jose', 'antonio']

In [32]:
name_list2 = name_list.copy() #copia la lista original

In [33]:
name_list2[-1].capitalize()

'Antonio'

In [37]:
#      0         1         2      3
# ['antonio', 'maria', 'jose', 'antonio']
# se puede tener un slide de las listas
name_list[0:3] #muestra hasta el nombre 3

['antonio', 'maria', 'jose']

In [39]:
name_list[1:3]

['maria', 'jose']

In [ ]:
name_list[0:2] #muestra hasta el nombre 2

['antonio', 'maria']

In [40]:
#slide con step para saltar elementos
name_list[0::2] #muestra los elementos de 2 en 2

['antonio', 'jose']

In [ ]:
last_name_list = [
                "farias",
                "gonzalez",
                "perez",
                "rodriguez"]

### Diccionarios

In [43]:
#estructura de datos diccionario
#diccionario = {clave: valor}
#diccionario de claves y valores
dict_persona= { "nombre": "antonella",
        "apellido": "farias",
        "edad": 30,
        "ciudad": "santiago",
        "pais": "chile",
        }

In [44]:
dict_persona["nombre"] #muestra el nombre de la persona

'antonella'

### tuplas

In [45]:
# las tuplas son inmutables, no se pueden modificar
#estructura de datos tupla
tuple1 = ("antonella", "farias", 30, "santiago", "chile")

### Ciclos

* ciclo for

In [49]:
#se sugiere ponerle a cada variable de iteracion un nombre singular a la lista
# sintaxis del for 
#for variable in iterable:
#    instrucciones  
for nombre in name_list:
    print (nombre.capitalize())

Antonio
Maria
Jose
Antonio

In [63]:
#ciclo for para buscar a antonio en la lista de nombres
for nombre in name_list:
    if nombre == "antonio":
        print (f"encontramos a {nombre.capitalize()}")
        
    elif nombre == "Maria":
        print (f"encontramos a {nombre.capitalize()}")
        break #para salir del ciclo for)

encontramos a Antonio
encontramos a Antonio

In [66]:
#ciclo con rango
for number in range(3): # 0 a 4
    print ("hola")

hola
hola
hola

In [67]:
#ciclo con rango y paso (step)
for number in range(0, 10, 2): # 0 a 10 de 2 en 2
    print (number)

0
2
4
6
8

In [ ]:
#ciclo con rango determinado por la cantidad de elementos de la lista
#ciclo con rango y len 
for number in range(len(name_list)):
    print (number)

0
1
2
3

In [73]:
cantidad = len(name_list) #cantidad de elementos de la lista
print (f"la cantidad de elementos de la lista es: {cantidad}")

for number in range(len(name_list)):
    print (name_list[number])

la cantidad de elementos de la lista es: 4
antonio
maria
jose
antonio

In [75]:
#buscar maria y la posicion de la lista
for name in range(len(name_list)):
    if name_list[name] == "maria":
        print (f"encontramos a maria en la posicion {name}")
        break #para salir del ciclo for

encontramos a maria en la posicion 1

In [76]:
#ciclo donde consigas los nombres de la lista y diga en que posicion estan
for name in range(len(name_list)):
    print (f"el nombre {name_list[name]} esta en la posicion {name}")
    #break #para salir del ciclo for

el nombre antonio esta en la posicion 0
el nombre maria esta en la posicion 1
el nombre jose esta en la posicion 2
el nombre antonio esta en la posicion 3